<a href="https://colab.research.google.com/github/vitorneto43/Open-cameras-in-the-world./blob/main/Previs%C3%A3o_Faturamento_por_M%C3%A9dia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
pip install statsmodels --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (0.10.2)
Collecting statsmodels
  Downloading statsmodels-0.13.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.8 MB)
     |████████████████████████████████| 9.8 MB 5.3 MB/s
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.21.6)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.3.5)
Requirement already satisfied: scipy>=1.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.7.3)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (21.3)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (0.5.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=21.3->statsmodels) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->statsmodels) (2022.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.2->statsmodels) (1.15.0)
Installing collected packages: statsmodels
  Attempting uninstall: statsmodels
    Found existing installation: statsmodels 0.10.2
    Uninstalling statsmodels-0.10.2:
      Successfully uninstalled statsmodels-0.10.2
Successfully installed statsmodels-0.13.2

In [10]:
import numpy as np
import pandas as pd

In [11]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [12]:
df = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/aulaudemy/df.csv').round(2)
df.columns = ['Ano', 'Mes', 'Faturamento']
df.head()

    Ano  Mes  Faturamento
0  2018    1   1130384.90
1  2018    2    931184.13
2  2018    3   1295271.15
3  2018    4   1009695.63
4  2018    5    953436.86

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ano          36 non-null     int64
 1   Mes          36 non-null     int64
 2   Faturamento  36 non-null     float64
dtypes: float64(1), int64(2)
memory usage: 992.0 bytes

In [14]:
df['Mes'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [15]:
media = df['Faturamento'].mean()
print('Nos próximos meses será faturado R$', media, '/mês em média')

Nos próximos meses será faturado R$ 1499637.016388889 /mês em média

In [17]:
devpad = df['Faturamento'].std()

print('O Faturamento para os próximos meses será de R$', media, '/Mês podendo variar', devpad, 'para mais ou para menos')

O Faturamento para os próximos meses será de R$ 1499637.016388889 /Mês podendo variar 310263.68996666546 para mais ou para menos

In [19]:
colunas = ['Min', 'Media', 'Max']

min = media - devpad
max = media + devpad

valores = np.array([min,media,max])

df_media = pd.DataFrame([valores], columns = colunas).round(2)
df_media

          Min       Media         Max
0  1189373.33  1499637.02  1809900.71